/*          Globals         */
body {
  font-family: Tahoma,Arial, Helvetica;
  font-size: 12px;
  line-height: 1.5;
}
fieldset{
    display: inline-block;
    border-radius: 10px;
   margin-left:30px;
}

ul{
    padding-left:5px;
    list-style-type: none;
    vertical-align: middle;
}
table {
    margin-left: 10px;
    border-collapse: collapse;
}
table, th, td {
   border: 1px solid grey;
    vertical-align: top;
}
/*          specifics         */
#demo{
   margin-top: 100px;
}

#header{
    position: fixed;
    background: #131366;
    color: white;
    top:0;
    height: 80px;
    width:1330px;
    z-index: 1000;
    border-radius: 3px;
}
#notes{
    font-size: 10px;
    z-index: 999;
    position: relative;
}

/*          Classes         */
.container{
    margin: 0 0 0 0; 
   }

.item, .kisiadi{
    width:350px;
    display: inline-block;
     
}
.item, {
    color:#4c4c4c;
}

.gorevline{
    height: 5px; 
    background: #292929; /* Black fill */
    display: inline-block;
    position: absolute;
    margin: 5px;
    padding: 0;
    border: 1px;
    vertical-align: middle;
    
  }
.itemlist{
   /* list-style-type: none;*/
    margin: 0;
    padding-left: 10px;
    background-color: white;
}

.subHeader{
    background-color:darkseagreen;
    margin: 0px 0px 20px 1px;
    list-style-position: inside;
    border: 10;
    overflow: hidden;
    width: 1320px;
   
   /* border-style: solid;
    border-width: 1px;*/
    border-color: darkseagreen;
     border-radius: 3px;
    box-shadow: 0 1px 3px 0 hsla(0,0%,0%,0.05);
    padding: 3px 0px 0px 1px;
}
.kisiadi{
    font-weight: bold;
}
.kisi:hover{
    cursor:default;
}

.hyear{
    background: red;
    height: 100px;
    z-index: 998;
   
}


